{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <!-- 静态导航栏-->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                </button>
                <a class="navbar-brand" href="{% url 'blog:index' %}">
                    Learning Log</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'blog:topics' %}">Topics</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                   {% if user.is_authenticated %}
                       <li><a>Hello,{{ user.username }}.</a></li>
                       <li><a href="{% url 'users:logout' %}">log out</a></li>
                   {% else %}
                       <li><a href="{% url 'users:login' %}">log in</a></li>
                       <li><a href="{% url 'users:register' %}">register</a></li>
                   {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">

        <div class="page-header">
            {% block header %} {% endblock header%}
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </div>
{#    <p>#}
{#        <a href="{% url 'blog:index' %}">Learning Log</a>-#}
{#        <a href="{% url 'blog:topics' %}">Topics</a>#}
{#        {% if user.is_authenticated %}#}
{#            Hello,{{ user.username }}-#}
{#            <a href="{% url 'users:logout' %}">log out</a>#}
{#        {% else %}#}
{#            <a href="{% url 'users:login' %}">log in</a>-#}
{#            <a href="{% url 'users:register' %}">register</a>#}
{#        {% endif %}#}
{#    </p>#}
{#    {% block content %}#}
{#    {% endblock content %}#}
</body>
</html>